<template>
  <div class="loading">
    <div class="loading-middle">
      <div class="trademark">hwchr</div>
      <div class="spinner-double-ring"><div class="ldio">
        <div></div>
        <div></div>
        <div><div></div></div>
        <div><div></div></div>
      </div></div>
    </div>
  </div>
</template>
