<template>
  <v-row class="past">
    <v-col md="6" offset-md="3">
      <v-card>
        <v-card-text>
          <div class="d-flex align-center justify-center flex-column my-3">
            <img alt="anime-cry" class="anime-cry" src="../assets/notfound.png" />
            <div class="display-1">Page not found!</div>
          </div>
        </v-card-text>

      </v-card>
    </v-col>
  </v-row>
</template>
